:root {
    --main-font-family: Helvetica;
    --main-font-color: #0f0f0f;
    --main-background-color: #2f2f2f;
    --main-border-radius: 8px;

    --invert-font-color: #cfcfcf;

    --post-background-color: #cfcfcf;
    --post-border-color: #497eaf;
    --post-border-thickness: 0.04rem;

    --post-font-size-title: 0.95rem;
    --post-font-size-content: 0.95rem;
}

body {
    background-color: var(--main-background-color);
}

.randomchan-container {
    width: 70%;
    min-width: 960px;
    margin: 0 auto 0 auto;
    /*padding: 10px;*/
    /*border: solid 2px #e0e0e0;*/
}

.randomchan-container-500 {
    width: 500px;
    min-width: 500px;
    margin: 0 auto 0 auto;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}

.valign-top {
    vertical-align: top;
}

.valign-center {
    vertical-align: center;
}

.valign-bottom {
    vertical-align: bottom;
}

body {
    /*background: url('bg.jpg');*/
    /*background-color: #000d1a;*/
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.menu {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px 5px 10px;
    background-color: var(--post-background-color);
    border-radius: var(--main-border-radius);
    font-family: var(--main-font-family);
    font-size: 1.1rem;
    color: var(--main-font-color);
}

menu li {

}

.post {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 20px 10px;
    background-color: var(--post-background-color);
    /*border: solid var(--post-border-thickness) var(--post-border-color);*/
    border-radius: var(--main-border-radius);
    font-family: var(--main-font-family);
    font-size: var(--post-font-size-content);
    color: var(--main-font-color);
}

.post-header {
    margin: 0;
    padding: 0;
    font-size: var(--post-font-size-title);
    /*border-bottom: solid 1px #cce6ff;*/
}

.post-content {
    font-size: var(--post-font-size-content);
    margin-top: 10px;
}

/*.post-reply-button .post-hashcode {
}*/

.post-number {
    color: var(--main-font-color);
}

.post-name {
    color: #ff4500;
}

.post-title {
    font-weight: bolder;
}

.post-time {
    color: var(--main-font-color);
}

.new-thread-form {
    text-align: center;
}

.form-input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    background-color: var(--post-background-color);
    border: none;
    border-radius: var(--main-border-radius);
    outline: none;
    font-family: var(--main-font-family);
    font-size: var(--post-font-size-content);
    color: var(--main-font-color);
}

.input-text {
    width: 100%;
}

.btn {
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
}

.btn:hover {
    color: #ff4500;
}

/*Button that is not outside */
.btn-inner {
    margin-left: 5px;
    margin-right: 5px;
}

.randomchan-label {
    font-family: var(--main-font-family);
    font-size: 0.9rem;
    color: var(--invert-font-color);
}

a {
    color: var(--main-font-color);
    text-decoration: none;
}

a:active {
    color: var(--main-font-color);
    text-decoration: none;
}

a:visited {
    color: var(--main-font-color);
    text-decoration: none;
}

a:hover {
    color: #ff4500;
    text-decoration: none;
    cursor: pointer;
}

.board-menu-link {
    color: var(--main-font-color);
    text-decoration: none;
}

.board-menu-link:active {
    color: var(--main-font-color);
    text-decoration: none;
}

.board-menu-link:visited {
    color: var(--main-font-color);
    text-decoration: none;
}

.board-menu-link:hover {
    color: #ff4500;
    text-decoration: none;
    cursor: pointer;
}