<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="randomchan-container">
    <a th:href="@{/board/a}">/a/</a>
    <a th:href="@{/board/b}">/b/</a>
    <a th:href="@{/board/d}">/d/</a>
    <a th:href="@{/board/jp}">/jp/</a>
</div>
<div class="randomchan-container">
    <a th:href="@{/board/{boardName}(boardName=${board.name})}" th:text="${board.description}"></a>
</div>
<div class="randomchan-container">
    <form class="new-thread-form" th:action="@{/newPost}" th:object="${newPost}" method="POST">
        <input type="hidden" th:value="${board}" th:name="board" />
        <input type="hidden" th:value="${threadId}" th:name="threadId" />
        <input class="input-text" type="text" th:field="*{title}"/><br/>
        <textarea class="input-text" th:field="*{content}" rows="8"></textarea><br/>
        <button class="post-message-btn float-right" type="submit">
            Post
        </button>
    </form>
</div>
<div class="randomchan-container">
    <div class="post" th:each="post: ${posts}">
        <div class="post-title">
            <span class="post-title" th:text="${post.title}"></span>
            <span class="post-time" th:text="${#temporals.format(post.timePosted, 'dd, MMMM yyyy')}"></span>
            <span class="post-title" th:if="${post.threadStarter}" th:text="OP"></span>
            <span class="float-right">
                <span class="post-number" th:text="'#' + ${post.id}"></span>
                <span class="post-reply-button"><a href="#">[Reply]</a></span>
            </span>
        </div>
        <div class="post-content" th:text="${post.content}">
            Hello World!
        </div>
    </div>
</div>
</body>
</html>