<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="randomchan-container align-center">
    <div class="menu">
        <span th:each="board: ${boards}">
            <a class="board-menu-link" th:href="@{/board/{boardName}(boardName=${board.name})}"
               th:text="'/' + ${board.name} + '/'"></a>
        </span>
        <div class="align-center randomchan-label">
            <h3>
                <a class="board-menu-link" th:href="@{/board/{boardName}(boardName=${board.name})}" th:text="${board.description}"></a>
            </h3>
        </div>
    </div>
</div>

<div class="randomchan-container">
    <form class="new-thread-form" th:action="@{/newPost}" th:object="${newPost}" method="POST" enctype="multipart/form-data">
        <input type="hidden" th:value="${board.name}" th:name="board"/>
        <input type="hidden" th:value="${threadId}" th:name="threadId"/>
        <button class="form-input btn float-right" type="submit">Post</button>
        <a class="form-input btn float-left" th:href="@{/}" th:text="'Main'"></a>
        <a class="form-input btn btn-inner float-left" id="btn-back" onclick="window.history.back()" th:text="'Back'"></a>
        <!--        <label class="randomchan-label" for="thread-title">Title</label>-->
        <input class="form-input input-text" type="text" placeholder="Title" id="thread-title" th:field="*{title}"/>
        <!--        <label class="randomchan-label" for="thread-content">Text</label>-->
        <textarea class="form-input input-text" id="thread-content" placeholder="Title" th:field="*{content}" rows="8"></textarea>
        <input class="form-input input-text" name="image" type="file"/>
    </form>
</div>

<div class="randomchan-container">
    <div class="post" th:each="post: ${posts}">
        <div class="post-header">
            <!--            <span class="post-name" th:if="${post.name == null}">Alice</span>-->
            <span class="post-name" th:text="'Anonymous'"></span>
            <span class="post-title" th:text="${post.title}"></span>
            <span>on</span>
            <span class="post-time" th:text="${#temporals.format(post.timePosted, 'dd, MMMM yyyy HH:MM:SS')}"></span>
            <span class="post-title" th:if="${post.threadStarter}" th:text="'[OP]'"></span>
            <span class="float-right">
                <span class="post-number" th:text="'#' + ${post.id}"></span>
                <span class="post-reply-button"><a href="#">[Reply]</a></span>
            </span>
        </div>
        <img th:src="'/public/' + ${image.path}" alt="Not found" />
        <div class="post-content" th:utext="${#strings.replace(#strings.escapeXml(post.content), T(java.lang.System).getProperty('line.separator'), '&lt;br /&gt')}"></div>
    </div>
</div>
</body>
</html>